<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="7.1.0" targetFramework="net461" />
  <package id="LumenWorksCsvReader" version="4.0.0" targetFramework="net461" />
  <package id="SandS.Algorithm.Common" version="2.0.1.02" targetFramework="net461" />
  <package id="SandS.Algorithm.Extensions.EnumerableExtensions" version="2.0.3.01" targetFramework="net461" />
  <package id="SandS.Algorithm.Library.Sort" version="2.0.2" targetFramework="net461" />
</packages>