<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="7.1.1" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="Google.Protobuf" version="3.6.0" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.8.5" targetFramework="net461" />
  <package id="LumenWorksCsvReader" version="4.0.0" targetFramework="net462" />
  <package id="MySql.Data" version="8.0.11" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="SandS.Algorithm.Common" version="2.0.1.02" targetFramework="net462" />
  <package id="SandS.Algorithm.Extensions.DateTimeExtension" version="2.0.1.01" targetFramework="net462" />
  <package id="SandS.Algorithm.Extensions.EnumerableExtensions" version="2.0.3.01" targetFramework="net462" />
  <package id="SandS.Algorithm.Extensions.GraphicsDeviceExtension" version="2.0.1.01" targetFramework="net462" />
  <package id="SandS.Algorithm.Extensions.IComparableExtension" version="2.0.2" targetFramework="net462" />
  <package id="SandS.Algorithm.Extensions.IListExtension" version="2.0.1.01" targetFramework="net462" />
  <package id="SandS.Algorithm.Extensions.StringBuilderExtension" version="2.0.1.01" targetFramework="net462" />
  <package id="SandS.Algorithm.Extensions.StringExtension" version="2.0.1.01" targetFramework="net462" />
  <package id="SandS.Algorithm.Library.Sort" version="2.0.2" targetFramework="net462" />
</packages>